body{
margin:0px;
padding:0px;
height:100%;
}
form{
margin:0px;
padding:0px;
}
.generaltable{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#4c4c4c;
text-align:justify;
line-height:17px;
}
.alignTop{
vertical-align:top;
}

.alignBottom{
vertical-align:bottom;
}
.msg{
color:red;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
a {
text-decoration:none;

}
a:hover{

color:#cce82e;
}
a:visited{

}
a:active{
color:#cce82e;
}

.alignLeft{
text-align:left;
}

.alignRight{
text-align:right;
}

.alignCenter{
text-align:center;
}

.bold{
font-weight:bold;
}
.font9px{
font-size:9px;
}
.font10px{
font-size:10px;
}

.font11px{
font-size:11px;
}
.font12px{
font-size:12px;
}

.font13px{
font-size:13px;
}
.font14px{
font-size:14px;
}
.font16px{
font-size:16px;
}
.font18px{
font-size:18px;
}
.font20px{
font-size:20px;
}
.red{
color:#FF0000;
}
.white{
color:#FFFFFF;
}
.black{
color:#000000;
}
.bgupleft{
background:url(../images/upleft.gif);
background-repeat:no-repeat;
vertical-align:top;
}
.bgupright{
background:url(../images/upright.gif);
background-repeat:no-repeat;
vertical-align:top;
}
.bguplogin{
background:url(../images/bguplogin.jpg);
background-repeat:no-repeat;
vertical-align:top;
font-family:tahoma;
color:#FFFFFF;
font-size:12px;
}
.bgsepmenu{
background:url(../images/bgsepmenu.gif);
background-repeat:repeat-x;
height:5px;
}
.bgmenu{
background:url(../images/bgmenu.jpg);
background-repeat:no-repeat;
font-family:Arial Narrow;
font-size:16px;
color:#00a1d9;
height:63px;

}
.bgwhoarewe{
background:url(../images/whoarewe.gif);
background-repeat:no-repeat;

height:283px;
	
}
.arial{
font-family:Arial;
}
.tahoma{
font-family:Tahoma;
}
.blue{
color:#0fa6db;
}
.blue a:visited{
	color:#0fa6db;
}
.darckblue{
color:#00377a;

}
.bgfooter{
background:url(../images/bgfooter.jpg);
background-repeat:repeat-x;
height:51px;

}
.bgdownfoot{
background:url(../images/bgdownfoot.jpg);
background-repeat:repeat-x;
height:19px;
}
.bgupbordfoot{
background:url(../images/bgupbordfoot.jpg);
background-repeat:repeat-x;
height:15px;
}
.bglog{
background:url(../images/bglog.jpg);
background-repeat:repeat-x;
}
.input1{
border:2px solid #2dff2d;
width:119px;

}
.button{
width:77px;
cursor:pointer;

}
.button:hover{
color:#0099FF;
}
.button2{
width:60px;
cursor:pointer;

}
.button2:hover{
color:#0099FF;
}

.childrenbg{
color:#000000;
background-color:#00a1d9;
font-size:12px;
font-family:tahoma;
padding:15px 0px 0px 0px;
margin:17px 0px 0px 0px;
text-align:center;
width:199px;


}
.greenhover:hover{
color:#00ff00;

}
.whitehover:hover{
color:#FFFFFF;
}
.bggreen{
background:url(../images/bggreen.gif);
background-repeat:repeat-x;
}
.rmede{
color:#636363;
}
.inputform{
border:1px solid #a8a8a8;
width:194px;
height:20px;
background-color:#f1f1f1;
font-family:tahoma;
font-size:12px;
color:#9c9c9c;

}
.buttonform{
width:70px;
height:20px;
background-color:#00a1d9;
color:#FFFFFF;
font-size:12px;
font-family:Tahoma;
font-weight:bold;
border:none;
cursor:pointer;
}
.buttonform:hover{
color:#d5ec52;
}
.subject{
width:323px;
height:28px;
border:1px solid #a8a8a8;
background-color:#f1f1f1;
font-family:tahoma;
font-size:12px;
color:#9c9c9c;
}
.textarea{
width:323px;
height:192px;
border:1px solid #a8a8a8;
background-color:#f1f1f1;
font-family:tahoma;
font-size:12px;
color:#7d7d7d;
}

@charset "utf-8";
/* CSS Document */

